<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewsFeed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC4F099F1D1901D10016D984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC4F09B81D1901D20016D984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC4F09C31D1901D20016D984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
